name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: YaroslavKhudyakov
          outputs: |
            dist/github-contribution-grid-snake.svg?color=purple
            dist/github-contribution-grid-snake.svg?palette=github-dark
          
      - name: Deploy to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          force_orphan: true
